# TLS client certificate request

[ client_dn ]
#countryName_default         = DE
#stateOrProvinceName_default = Nordrhein-Westfalen
#localityName_default        = Köln
#organizationName_default    = Sample Inc
#emailAddress_default        = info@sample.org
#commonName_default          = $ENV::CN

###
# Don't edit below this line. Unless you know what you are doing
###
countryName                 = "1. Country Name (2 letters) (eg, US)               "
countryName_max             = 2
countryName_min             = 2
stateOrProvinceName         = "2. State or Province Name     (eg, region)         "
localityName                = "3. Locality Name              (eg, city)           "
organizationName            = "4. Organization Name          (eg, company)        "
organizationalUnitName      = "5. Organizational Unit Name   (eg, section)        "
emailAddress                = "6. Email address for contacts (eg, info@domain.tld)"
emailAddress_max            = 70
commonName                  = "6. Common Name                (eg, full name)      "
commonName_max              = 64

[ default ]
default_bits            = $ENV::certs_default_bits
default_md              = $ENV::certs_default_md
commonName              = $ENV::CN

[ req ]
default_bits            = $default_bits         # RSA key size
default_md              = $default_md           # MD to use
encrypt_key             = yes                   # Protect private key
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = yes                   # Prompt for DN
distinguished_name      = client_dn             # DN template
req_extensions          = client_reqext         # Desired extensions

[ client_reqext ]
keyUsage                = critical,digitalSignature
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
